.title {
  margin-top: 0;
}

.list {
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 55px;
  list-style: none;
  text-align: left;
}

.item {
  font-size: 16px;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}
